---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acerca de Nosotros">
    <h2 class="text-3xl font-bold m-8">De que trata esta pagina</h2>
    <p class="m-5 mx-14 indent-14">¡Te damos la bienvenida a CineTour, tu destino cinematográfico definitivo! En nuestro espacio digital, nos sumergimos en el emocionante mundo del cine y las series con pasión y dedicación. Somos un equipo apasionado de cinéfilos y críticos comprometidos en proporcionarte una experiencia enriquecedora.</p>
    <p class="m-5 mx-14 indent-14">En CineTour, no solo encontrarás las últimas noticias y reseñas, sino que también explorarás análisis profundos y perspectivas únicas sobre tus películas y series favoritas. Nuestra misión es ir más allá de lo superficial, desentrañando las complejidades de cada obra para que puedas apreciarlas en su totalidad.</p>
    <p class="m-5 mx-14 indent-14">Creemos que el cine y las series no solo son formas de entretenimiento, sino ventanas a diferentes mundos y espejos de la sociedad. Queremos compartir esta pasión contigo, creando un espacio donde la comunidad cinéfila puede converger, discutir y celebrar la magia del séptimo arte. Únete a nosotros en este emocionante viaje cinematográfico. ¡Gracias por ser parte de CineTour!</p>
    <br>
    <br>
    <script src="src/services/script.js" type="module"></script>
</Layout>