---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Noticias">
    <h2 class="text-3xl font-bold m-5">Todas las Noticias</h2>
    <section class="container">
        <div class="flex justify-center flex-wrap">
            <main>
                <section class="container">
                  <div class="flex justify-center flex-wrap gap-4">
                    <Card pagina="/elencargado" imagen="/CPFP52CY3RAA3KQOFESTRUM7TM.avif" noimagen="Imagen del Encargado 1" titulo="“El encargado 2″: ¿quién es quién en la nueva temporada de la serie?" />
                    <Card pagina="/elbancodedave" imagen="/el-banco-de-dave-netflix_862x485.webp" noimagen="El banco de Dave | Netflix" titulo="Netflix: la película que se estrenó en 2023, está basada en hechos reales y es la MÁS VISTA DEL MUNDO" />
                    <Card pagina="/theboys" imagen="/CPFP52CY3RAA3KQOFESTRUM7TM.webp" noimagen="Imagen del Encargado 3" titulo="‘The Boys: Mexico’ será el nuevo spin-off de la exitosa serie de Amazon Prime Video" />			
                    <Card pagina="/elencargado" imagen="/CPFP52CY3RAA3KQOFESTRUM7TM.avif" noimagen="Imagen del Encargado 1" titulo="“El encargado 2″: ¿quién es quién en la nueva temporada de la serie?" />
                    <Card pagina="/elbancodedave" imagen="/el-banco-de-dave-netflix_862x485.webp" noimagen="El banco de Dave | Netflix" titulo="Netflix: la película que se estrenó en 2023, está basada en hechos reales y es la MÁS VISTA DEL MUNDO" />
                    <Card pagina="/theboys" imagen="/CPFP52CY3RAA3KQOFESTRUM7TM.webp" noimagen="Imagen del Encargado 3" titulo="‘The Boys: Mexico’ será el nuevo spin-off de la exitosa serie de Amazon Prime Video" />			
                  </div>
                </section>
            </main>			
          </div>
        </section>
    </main>
    <br>
</Layout>