---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Opiniones">
    <h2 class="text-3xl font-bold m-5">Todas las Opiniones</h2>
    <section class="container">
        <div class="flex justify-center flex-wrap">
            <main>
                <section class="container">
                  <div class="flex justify-center flex-wrap gap-4">
                    <Card pagina="/blindspot" imagen="/blindspot.webp" noimagen="Imagen de Blindspot | Netflix" titulo="Blindspot: Un Intrincado Laberinto de Misterios y Acción" />
                    <Card pagina="/los100" imagen="/los100.avif" noimagen="Imagen de Los 100 | Netflix" titulo="Los 100: Un Viaje Épico de Supervivencia y Desafíos Morales" />
                    <Card pagina="/brakingbad" imagen="/brakingbad.webp" noimagen="Imagen Braking Bad | Netflix" titulo="Breaking Bad: La Metamorfosis de un Hombre Común en el Mundo del Crimen" />
                    <Card pagina="/blindspot" imagen="/blindspot.webp" noimagen="Imagen de Blindspot | Netflix" titulo="Blindspot: Un Intrincado Laberinto de Misterios y Acción" />
                    <Card pagina="/los100" imagen="/los100.avif" noimagen="Imagen de Los 100 | Netflix" titulo="Los 100: Un Viaje Épico de Supervivencia y Desafíos Morales" />
                    <Card pagina="/brakingbad" imagen="/brakingbad.webp" noimagen="Imagen Braking Bad | Netflix" titulo="Breaking Bad: La Metamorfosis de un Hombre Común en el Mundo del Crimen" />
                  </div>
                </section>
            </main>			
          </div>
        </section>
    </main>
    <br>
</Layout>